@use "./variables.scss";
@use "./landing.scss";
@use "./earth.scss";
@use "./pulse_card.scss";

@keyframes pulse-glow {
  0%, 100% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient variables.$gradient-time ease infinite;
}
