// @use "./tailwind.config.css";
@use "./mixins.scss";
@use "./variables.scss";
@use "./pulse_card.scss";
@use "./ankh_logo.scss";

@use "./landing/about.scss";
@use "./landing/contact.scss";
@use "./landing/footer.scss";
@use "./landing/founder.scss";
@use "./landing/hero.scss";
@use "./landing/portfolio.scss";
@use "./landing/services.scss";
@use "./earth.scss";

@keyframes pulse-glow {
  0%, 100% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

@keyframes gradient {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient variables.$gradient-time ease infinite;
}

.top-border-saw {
    mask: conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) 50%/0.9em 100%;
}
.bottom-border-saw {
    mask: conic-gradient(from -42.5deg at bottom,#0000,#000 1deg 89deg,#0000 85deg) 50%/0.9em 100%
}

.flicking-viewport {
  position: relative;
  overflow: hidden;
}
.flicking-viewport.vertical {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.flicking-viewport.vertical > .flicking-camera {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flicking-viewport.flicking-hidden > .flicking-camera > * {
  visibility: hidden;
}

.flicking-camera {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 1;
  will-change: transform;
}
.flicking-camera > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
