
@mixin MarX($value: auto) {
  margin-left: $value;
  margin-right: $value;
}

@mixin Pulsate {
  animation-delay: 0.5s;
  animation: pulse 6s ease-in-out infinite alternate;
}

@keyframes spinGradient {
  @for $i from 0 through 360 {
    #{calc($i * 100% / 360)} {
      background-image: linear-gradient(#{$i}deg, #00FF80A9, #A32D94A9);
        
    }
  }
}

.AnkhStudio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10rem;
  height: 100%;
}

.Ankh {
  position: relative;
  font-size: 2.5rem;
  font-weight: 600;
  @include MarX;
  pointer-events: none;
  @include Pulsate;
}
.Studio {
  position: relative;
  @include MarX;
  bottom: 1.25rem;
  left: 0.35rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.68rem;
  pointer-events: none;
  filter: brightness(0.66);
  @include Pulsate;
}
 
.StudioBorder {
  @include MarX;
  width: 7.2rem;
  position: relative;
  bottom: 1.25rem;
  height: 1px;
  opacity: 0.4;
}

.about_container {
  // background: rgba(0,0,0,0.1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_background {
  position: absolute;
  background: black;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.service_container {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.founder_container {
  background: black;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  z-index: 10;

}

.founder-bg {
  background: 
    radial-gradient(ellipse at top left, hsla(122deg, 100%, 85%, 0.33),hsla(270deg, 30%, 20%, 0.8), hsla(122deg, 100%, 85%, 0.1))
  ;
  backdrop-filter: blur(10px);
}


.bg_center_inner {
  background: rgba(0,0,0,0.3);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  overflow: hidden;
}
.bg_center_outter {
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(6px);
}

.top-border-saw {
    mask: conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) 50%/0.9em 100%;
}
.bottom-border-saw {
    mask: conic-gradient(from -42.5deg at bottom,#0000,#000 1deg 89deg,#0000 85deg) 50%/0.9em 100%
}

