@use "sass:math";


@mixin glass-blur(
  $bg: rgba(255, 255, 255, 0.1),
  $blur: 10px,
  $border: 1px solid rgba(255,255,255,0.2),
  $radius: 16px,
){
  background: $bg;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  border: $border;
  border-radius: $radius;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@mixin Clamp($property, $min, $preferred, $max){
  #{$property}: clamp(#{$min}, #{$preferred}, #{$max});
}

@mixin RoundedRect($radius: 9999px) {
  border-top-left-radius     : $radius;
  border-top-right-radius    : $radius;
  border-bottom-right-radius : $radius;
  border-bottom-left-radius  : $radius;
};

@mixin PadX($value: auto) {
  padding-left  : $value;
  padding-right : $value;
};
@mixin PadY($value: auto) {
  padding-top    : $value;
  padding-bottom : $value;
};

@mixin MarX($value: auto) {
  margin-left  : $value;
  margin-right : $value;
};
@mixin MarY($value: auto) {
  margin-top    : $value;
  margin-bottom : $value;
};

@mixin Keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
}

@mixin Animation($input) {
  -webkit-animation : $input;
  -moz-animation    : $input;
  -ms-animation     : $input;
  animation         : $input;
}
@mixin Transform($input){
  -webkit-transform : $input;
  -moztransform     : $input;
  -ms-transform     : $input;
  transform         : $input;
}


@mixin min-width($min) {
  @media (min-width: $min){
    @content
  }
}
@mixin min-height($min) {
  @media (min-height: $min){
    @content
  }
}
@mixin max-width($max) {
  @media (max-width: $max){
    @content
  }
}
@mixin max-height($max) {
  @media (max-height: $max){
    @content
  }
}

// 320px
@mixin MobileXS($min: $breakpoint-xs) {
  @media (min-width: $min){
    @content
  }
}
// 640px
@mixin MobileSM($min: $breakpoint-sm) {
  @media (min-width: $min){
    @content
  }
}
// 768px
@mixin Tablet($min: $breakpoint-md) {
  @media (min-width: $min){
    @content
  }
}
// 1024px
@mixin Laptop($min: $breakpoint-lg) {
  @media (min-width: $min){
    @content
  }
}
// 1280px
@mixin Desktop($min: $breakpoint-xl) {
  @media (min-width: $min){
    @content
  }
}
// 1536px
@mixin DesktopLG($min: $breakpoint-2xl) {
  @media (min-width: $min){
    @content
  }
}

@mixin Debug($color: rgba(200,0,0,0.3)){
  background: $color;
}

@function rem($pixels){
  @return math.div($pixels, 16) * 1rem;
}

